<div class="masthead clearfix">
    <div class="inner">
        <h3 class="masthead-brand">Cover</h3>
        <nav class="nav nav-masthead">
            <div><%= link_to "Home", root_path, class: 'nav-link'%></div>
            <%=link_to "About", about_path, class: 'nav-link'%>   
            <%=link_to "contact", contact_path, class: 'nav-link'%>   
            <%=link_to "Blogs", blogs_path, class: 'nav-link'%>   
            <%=link_to "portfolio", protfolios_path, class: 'nav-link'%>  
        </nav>
    </div>
</div>