<h1>Angular protfolio Items</h1>
<%= link_to "Creat New Item",new_protfolio_url if logged_in?(:site_admin)%>


<% @protfolio_angular_items.each do |protfolio_item|%>
    <p><%= link_to protfolio_item.title,protfolio_path(protfolio_item.id) %></p>
    <p><%= protfolio_item.subtitle%></p>
    <p><%= protfolio_item.body%></p>
    <%= image_tag protfolio_item.thumb_image unless protfolio_item.thumb_image.nil?%>
    <%= link_to "Edit",edit_protfolio_path(protfolio_item.id)if logged_in?(:site_admin)%>
    
    <%= button_to 'Delete Portfolio Item', protfolio_path(protfolio_item), method: :delete, data:{confirm: 'Are you sure?'} if logged_in?(:site_admin) %>

<% end %>